:root {
  --dark-text: #156483;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header,
footer {
  display: flex;
  justify-content: center;
  margin: 30px 100px;
}

header {
  justify-content: space-between;
  align-items: center;
}

.title h1 {
  margin-bottom: 12px;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.levels button {
  padding: 10px 25px;
  margin: 10px;
  color: var(--dark-text);
  border: 3px solid var(--dark-text);
  border-radius: 25px;
  box-shadow: 1px 2px 2px var(--dark-text);
}
.levels button:hover {
  border: 3px solid white;
}
.levels .depressed {
  border: 3px solid white;
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.scoreboard {
  padding-top: 8px;
  text-align: right;
  color: var(--dark-text);
}

.score {
  font-size: 3em;
  font-weight: 800;
  line-height: 1;
}

.gifs {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 50px;
}

.game-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result {
  font-size: 3em;
  font-weight: 800;
  color: var(--dark-text);
  margin-top: 200px;
  margin-bottom: 20px;
}

.play-again {
  padding: 20px;
  border-radius: 40px;
}
